body {
    background-color: black;
    color: #fff;
}

.container {
    text-align: center;
    margin: 100px auto 0;
    width: 60%;
}
.header {
    height: 100px;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.link {
    font-size: 25px;
    color: #fff;
    text-decoration: none;

}

.link:hover{
    color: rgb(4, 0, 255);

}

.menu {
    display: flex;
    gap: 20px;
}



.section_archievements {
    padding: 50px 30px;
    display: flex;
    justify-content: center;
}

.title {
    font-size: 75px;
    text-align: center;
    background: linear-gradient(90deg, #006600, #ff0000, #006600);
  background-size: 200% auto;


  -webkit-background-clip: text;
  background-clip: text;

  -webkit-text-fill-color: transparent;

  animation: changeColor 1s ease-in-out infinite alternate;
}
/* .partners__grid {
    margin: 0 auto;
    padding: 90px 32px;
    max-width: 950px;
}
.partners__grid-wrapper {
    grid-template-columns: repeat(5, 1fr);
}
.partners__grid-wrapper {
    display: grid;
    grid-gap: 1px;
    grid-template-columns: repeat(2, 1fr);
    background: radial-gradient(circle, rgba(255, 103, 31, 0.6) 0%, rgba(0, 0, 0, 0) 75%);
} */
.footertext {
  
 text-align: center;
 height: 60px;
 font-size: 40px;
 background: linear-gradient( #000000, #ff8c00);
background-size: 200% auto;
}

.brands-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    background: transparent; /* Прозрачный фон */
    border-radius: 24px;
    overflow: hidden;
    border: 1px solid #ff8c00; /* Оранжевая внешняя граница */
  }
  .brand-item {
    padding: 28px 16px;
    text-align: center;
    border-bottom: 1px solid #ff8c00; /* Оранжевые линии */
    border-right: 1px solid #ff8c00; /* Оранжевые линии */
    font-weight: 600;
    font-size: 14px;
    transition: all 0.2s;
    background: rgba(0, 0, 0, 0.8); /* Полупрозрачный фон ячеек */
    backdrop-filter: blur(2px); /* Лёгкое размытие для стеклянного эффекта */
  }

  .brand-item-logo  {
    width: 100px;
    object-fit: cover;
    height: 100px;
}

  .brand-item.transparent {
    background: transparent;
  }
  .brand-item:nth-child(4n) { border-right: none; }
  .brand-item:nth-last-child(-n+4) { border-bottom: none; }
  .brand-item:hover {
    background: rgba(255, 140, 0, 0.1); /* Лёгкая оранжевая подсветка при наведении */
    transform: scale(1.02);
  }
  @media (max-width: 768px) {
    .brands-grid { grid-template-columns: repeat(2, 1fr); }
    .brand-item:nth-child(2n) { border-right: none; }
    .brand-item:nth-last-child(-n+2) { border-bottom: none; }
  }
